[submodule "arctic_access"]
	path = arctic_access
	url = https://github.com/GeorgeKontsevik/season_framed_multilayer_arctic_network_model
[submodule "solver_flp"]
	path = solver_flp
	url = https://github.com/GeorgeKontsevik/solver_FLP
[submodule "connectpt"]
	path = connectpt
	url = https://github.com/alexandermorozzov/connectpt.git
[submodule "sm_imputation"]
	path = sm_imputation
	url = https://github.com/vasilstar97/sm-imputation.git
[submodule "corr_transport_street_pattern"]
	path = corr_transport_street_pattern
	url = https://github.com/moryacho/corr_transport_street_pattern.git
