[submodule "agent-config"]
	path = agent-config
	url = /Users/gk/Code/super-duper-disser-submodules/agent-config.git
[submodule "arctic_access"]
	path = arctic_access
	url = https://github.com/GeorgeKontsevik/season_framed_multilayer_arctic_network_model_disser.git
[submodule "solver_flp"]
	path = solver_flp
	url = https://github.com/GeorgeKontsevik/solver_FLP
[submodule "connectpt"]
	path = connectpt
	url = https://github.com/GeorgeKontsevik/connectpt.git
[submodule "sm_imputation"]
	path = sm_imputation
	url = https://github.com/GeorgeKontsevik/sm-imputation.git
[submodule "corr_transport_street_pattern"]
	path = corr_transport_street_pattern
	url = https://github.com/GeorgeKontsevik/corr_transport_street_pattern.git
[submodule "street-pattern-classifier"]
	path = street-pattern-classifier
	url = https://github.com/GeorgeKontsevik/street-pattern-classifier.git
[submodule "blocksnet"]
	path = blocksnet
	url = https://github.com/GeorgeKontsevik/blocksnet.git
[submodule "floor-predictor"]
	path = floor-predictor
	url = https://github.com/GeorgeKontsevik/floor-predictor.git
[submodule "iduedu-fork"]
	path = iduedu-fork
	url = https://github.com/GeorgeKontsevik/IduEdu.git
[submodule "equatorial"]
	path = equatorial
	url = https://github.com/GeorgeKontsevik/equatorial.git
[submodule "itmo-phd-thesis-template-en"]
	path = itmo-phd-thesis-template-en
	url = https://github.com/GeorgeKontsevik/itmo-phd-thesis-template-en.git
[submodule "segregation-by-design-experiments"]
	path = segregation-by-design-experiments
	url = /Users/gk/Code/super-duper-disser-submodules/segregation-by-design-experiments.git
[submodule "thermal_access_pilot"]
	path = thermal_access_pilot
	url = /Users/gk/Code/super-duper-disser-submodules/thermal_access_pilot.git
[submodule "connectpt_dataset_prep"]
	path = connectpt_dataset_prep
	url = /Users/gk/Code/super-duper-disser-submodules/connectpt_dataset_prep.git
[submodule "yana_experiments"]
	path = yana_experiments
	url = /Users/gk/Code/super-duper-disser-submodules/yana_experiments.git
